body{
overflow-x:hidden;
overflow-y:hidden
} 

b{
color:3366CC;
}

#login{
height:100%;
}

#background{
top:0;
left:0;
width: 100%; 
height: 100%; 
position:fixed;
background-color:white;
display:table;
}

#text{
width:25%; 
margin-top:18px;
}

#emptyDiv{
height:18%;
width:100%;
}

#title{
height:23%;
width:100%;
text-align:center;
}

#titleImage{
width:50%;
height:55%;
}

#login_container{
width:420;
height:120;
margin-left:auto;
margin-right:auto;
}

#login_button{
width:75%; 
height:10;
}


.image{
width:100;
height:35;
}


#empty2Div{
height:5%;
width:100%;
float:left;
}
#empty3Div{
height:20%;
width:100%;
float:right;
}

#login_button{
width:400;
height:20;
margin-left:auto;
margin-right:auto;
text-align:center;
}

#button{
margin-left:auto;
margin-right:auto;
}

#smallTitle{
width:150;
height:35;
background-image:url("./image/group_unit.png");
}

#groupUnit{
width:150;
height:68;
float:left;
}

#send{
width:256;
height:68;
float:left;
background-color:blue;
margin-top:8;
margin-left:10;
background-image:url("./image/startButton.png");
background-size: 100% 100%;
}
